html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #dadada;
}

.user-page-main {
    background-color: #dadada;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.user-data-container {
    width: 1200px;
    height: 600px;
    margin-top: 80px;
    position: relative;
    background-color: white;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: auto;
}

.user-data {
    width: 55%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* PREMIUM BLOCK STYLE */

.available-data-head {
    display: flex;
    align-items: center;
}

.available-data-head h2 {
    font-weight: bold;
    margin-top: 7px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #F3F4F6;
    box-shadow: inset rgba(0, 0, 0, .4) 0 2px 4px 0;
}

.available-data-body {
    /*display: flex;*/
    /*align-items: start;*/
    flex-direction: column;
    margin-top: 40px;
}

.available-data-body p {
    display: flex;
    width: 400px;
    padding: 5px 15px;
    margin-top: 35px;
    align-items: center;
    border-radius: 10px;
    background-color: #F3F4F6;
    box-shadow: inset rgba(0, 0, 0, .4) 0 2px 4px 0;
}

.user-information-block {
    font-size: 20px;
    font-weight: bold;
}

.premium-status {
    display: flex;
    margin-left: 250px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .4) 0 2px 4px 0;
    padding: 10px;
    text-align: center;
    width: auto;
    height: 50px;

    /*margin-left: 25px;*/
}

.premium-status h4 {
    margin-left: 10px;
}

.block-transparent {
    background-color: transparent;
}

.premium-block-green {
    background-color: green;
}

.premium-block-blue {
    background-color: dodgerblue;
}

.premium-block-purple {
    background-color: #d61adc;
}

.premium-block-text {
    color: white;
    font-weight: bold;
}

.sparkling-block {
    width: 30px;
    height: auto;
}

/* END OF PREMIUM BLOCK STYLE*/

.user-data-line {
    height: 5px;
    width: 110%;
    margin-top: 10px;
    margin-left: -30px;
    background-color: #353536;
    border-radius: 3px;
}

.button-block {
    width: 200px;
    position: absolute;
	bottom: 20px;
	right: 30px;
}

.edit-button {
    width: 30px;
    height: 30px;
    position: absolute;
	top: 50px;
	right: 50px;
}

.image-gif {
    width: 150px;
    height: auto;
}

/* Edit page styles */

.back-button {
    width: 30px;
    height: auto;
}

.bottom-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding: 0 100px;
}

.password-button {
    width: 70px;
    height: auto;
}

.edit-data-block {
    margin-left: 100px;
    margin-top: 20px;
}

.edit-container {
    width: 1000px;
}

.edit-changes {
    margin-top: 30px !important;
    margin-left: 10px !important;
}

.edit-form-container {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 40px 20px;
    border: 3px solid #DEDEDE;
    width: 800px;
    /*margin-top: 10px;*/
}

.edit-form-container p {
    margin-top: 30px;
    margin-bottom: -20px;
    font-size: 12px;
}

.input-grout-edit-text {
    width: 100px;
    display: flex;
    justify-content: center;
}

.input-group-head-container {
    margin-bottom: 20px;
    height: 30px;
}

.edit-submit-button {
    margin-top: 10px;
    margin-bottom: -10px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
}

/* End edit page styles */



/* Start projects page styles*/

